# ------------------------------------------------------------------------------
# Logs
# ------------------------------------------------------------------------------

logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# ------------------------------------------------------------------------------
# Dependencies
# ------------------------------------------------------------------------------

node_modules/
.pnpm-store/

# ------------------------------------------------------------------------------
# Build
# ------------------------------------------------------------------------------

dist/
coverage/
build/
release/
*.tsbuildinfo

# ------------------------------------------------------------------------------
# Cache
# ------------------------------------------------------------------------------

.cache/
.eslintcache

# ------------------------------------------------------------------------------
# Environment
# ------------------------------------------------------------------------------

.env
.env.*
*.local

# ------------------------------------------------------------------------------
# IDE
# ------------------------------------------------------------------------------

.vscode/*
!.vscode/extensions.json
.vscode/settings.json

.idea/

# ------------------------------------------------------------------------------
# Operating System
# ------------------------------------------------------------------------------

.DS_Store
Thumbs.db
Desktop.ini

# ------------------------------------------------------------------------------
# Chrome Extension
# ------------------------------------------------------------------------------

*.pem

# ------------------------------------------------------------------------------
# Future
# ------------------------------------------------------------------------------

.turbo/